  html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: white;
    width: 100%;
    
  }

  * {
    box-sizing: border-box;

  }

  h2, h4, h5, h6, p {
    color: #4A4A4A;
    padding: 0;
    margin: 0;

  }

  #section-one, #section-two, #section-three, #section-four {
    display: flex;
    flex-direction: column;
    margin: auto;
    

  }

  a {
    text-decoration: none;

  }
  
  .article-card:hover {
    background-color: #d8d8d8;

  }

/* NAVBAR START */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    top: 0;
    z-index: 100;
    background-color: white;

  }

  .top-logo-image-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    height: 32px;
    padding-left: 24px;

  }

  .logo-colmar, .logo-academy {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .logo-colmar {
    color: black;
    font-weight: bold;

  }

  .logo-academy {
    color: darkgray;
    font-weight: 400;

  }

  .top-nav-menu {
    padding-right: 24px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;

  }

  .menu-list-items {
    display: flex;
    align-items: right;
    list-style: none;
    float: right;
    text-align: right;
    color: black;
    line-height: 1.5;

  }

  .menu-images {
    height: 32px;
    width: 27px;

  }

  .menu-list-items li {
    padding-left: 16px;

  }

  .menu-list-items a {
    border-bottom: 1px solid #4A4A4A;
    color: black;
    padding-bottom: .25em;
    text-decoration: none;

  }

  .menu-list-items a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 1em;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
    width: 100%;

  }

/* NAVBAR END */

/* SECTION ONE START */

  #section-one {
    width: 100%;
    background-color: #d8d8d8;

  }

  .learn-something-new {
    display: flex;
    margin: 32px 24px;

  }

  .learn-something-new h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    max-width: fit-content;

  }

  .learn-something-new p {
    font-size: initial;

  }

  .section-one-image-box {
    width: 60%;
    display: flex;
    flex-direction: column;

  }

  .section-one-image {
    width: 100%;
    height: auto;
    padding-right: 24px;

  }

  .section-one-text-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .section-one-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0;
    padding: 32px 87px;

  }

  .section-one-text h2 {
    padding-bottom: 24px;
    margin: 0;
    font-size: 2em;

  }

  .section-one-text p {
    margin: 0;
    padding-bottom: 24px;

  }

/* BUTTON START */

  #start-button {
    background-color: #4A4A4A;
    height: 45px;
    width: 100%;
    border: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    align-self: center;

  }

  #start-button:active {
    background: #929292;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;

  }

/* BUTTON END */

/* SECTION ONE END */

/* SECTION TWO START*/

  #section-two {
    width: 100%;
    background-color: #FFFFFF;

  }

  .keep-practicing-section {
    display: flex;
    margin: 32px 24px;

  }

  .section-two-image-box {
    width: 60%;
    display: flex;
    flex-direction: column;

  }

  .section-two-image h2 {
    padding: 0;
    margin: 0;
    font-weight: bold;

  }

  .section-two-image {
    width: 100%;
    height: auto;
    padding-right: 24px;

  }

  .section-two-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding-right: 24px;

  }

  .section-two-text h2 {
    padding-top: 32px;
    padding-bottom: 24px;
    margin: 0;
    font-size: 2em;

  }

  .section-two-text h6 {
    margin: 0;
    padding-top: 32px;

  }

  .section-two-article-box {
    width: 40%;
    display: flex;
    flex-direction: column;

  }

  .article-card-list-container {
    width: 100%;

  }

  .article-card {
    display: flex;
    flex-direction: row;
    border: solid 1px #d8d8d8;
    margin-bottom: 2px;

  }

  .article-card-image-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: 35%;

  }

  .card-image {
    margin: 16px;

  }

  .article-card-information {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    
  }

  .article-card-information h4, p, a {
    padding: 0;
    margin: 0;

  }

/* SECTION TWO END */

/* SECTION THREE START */

  #section-three {
    width: 100%;
    background-color: #d8d8d8;

  }

  .course-list-title h2 {
    text-align: center;
    font-size: 2em;
    padding: 32px 0px;

  }

  .course-list-container {
    width: 100%;
    padding: 0px 72px 32px;
    
  }

  .course-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;

  }

  .course-list img {
    width: 100%;

  }

  .course-card {
    background-color: white;
    --gap: 32px;
    width: calc((100% - 2*var(--gap)) / 3);
    transition: transform 300ms ease;

  }

  .course-card:hover {
    transform: scale(1.05);

  }

  .course-card h4 {
    font-weight: 900;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;

  }

  .course-card h5 {
    padding-left: 16px;
    padding-top: 8px;
    font-weight: 100;

  }

  .course-card p {
    padding: 8px 16px 24px;
    font-weight: 100;

  }

/* SECTION THREE END*/

/* SECTION FOUR START*/

  #section-four {
    width: 100%;
    background-color: #FFFFFF;

  }

  .thesis-exhibit-section {
    display: flex;
    margin: 0px 24px 5px;

  }

  .thesis-exhibit-title {
    text-align: center;
    font-size: 2em;
    padding: 32px 0px;
    line-height: 1;

  }

  .section-four-video-box {
    width: 60%;
    display: flex;
    flex-direction: column;

  }

  .section-four-video-box video {
    padding-right: 24px;

  }

  .section-four-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding-right: 24px;
    padding-bottom: 32px;

  }

  .section-four-text h4 {
    padding-top: 32px;
    padding-bottom: 24px;
    margin: 0;
    font-size: 2em;

  }

/* SECTION FOUR END */

/* FOOTER START */

  footer {
    border-top: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    top: 0;
    z-index: 100;
    background-color: white;
    
  }

  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    padding-left: 24px;
    font-size: 0.8em;

  }

  .tees-and-cees {
    padding-right: 16px;
    text-align: right;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    
  }

/* FOOTER END */

/* REACTIVE FOR DIFFERENT SCREENS */

  @media (max-width: 600px) {

    #section-one, #section-two, #section-three, #section-four {
      display: block;
      flex-direction: row;
      line-height: 1;
      
    }

    .card-image {
      display: none;

    }

    #video {
      display: none;
    }

    

  }

  @media (min-width: 601px) {
    .mobile-image {
      display: none;

    }
    
  }

  @media (max-width: 600px) {
    .article-card-list-container {
      background-color: white;

    }
    
  }

  @media (max-width: 600px) {
    .course-list-container {
      background-color: white;

  }

  .article-card:hover {
    background-color: white;

  }

}


/* MOBILE START*/

/* MOBILE TOP MENU START */
  @media only screen and (max-width: 767px) {
    body {
      display: block;
      background-color: #fff;

    }

    img {
      display: block;
      width: 100%;
        
    }

    header {
      display: flex;
          
    }
      
    .menu-list-items li {
      padding-left: 56px;

    }

      
    .desktop-hidden {
      display: none;

    }

    .hidden {
      visibility: hidden;
      position: absolute;

    }

  }

/* MOBILE TOP MENU END */

  @media (min-width: 601px) {

  }

/* MOBILE SECTION ONE START */

@media only screen and (max-width: 767px) {

  .learn-something-new {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

  }

  .section-one-image-box {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .section-one-image {
    width: 100%;
    height: auto;
    padding: 1px;

  }

  .section-one-text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .section-one-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 32px 16px;
  }


}

/* MOBILE SECTION ONE END */

/* MOBILE SECTION TWO START - KEEP PRACTICING SECTION */

  @media only screen and (max-width: 767px) {

    .keep-practicing-section {
      margin: 0;

  }

    .article-card-list-container {
      width: 100vw;
  
  }

  .hide-me {
    display: none;
  }

    .article-card {
      margin: 16px;
      display: flex;
      flex-direction: column;
      border: none;

  }

    .article-card-image-box {
      width: 100%;

  }

    .article-card-information {
      line-height: 1;
      
  }

    .article-card-information h4 {
      padding-top: 16px;

  }

    .article-card-information p {
      padding-top: 8px;
      
  }

    .article-card-information a {
      padding-top: 10px;
      padding-bottom: 32px;

  }

    .section-two-image-box {
      display: none;
        
  }

    .card-image {
      margin: 0;
        
  }

}

/* MOBILE SECTION TWO END - KEEP PRACTICING SECTION */

/* MOBILE SECTION THREE START - START LEARNING SECTION */

  @media only screen and (max-width: 767px) {

    #section-three {
      background-color: #fff;
      border-top: 1px solid 
      #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      margin-bottom: 32px;

    }

    .course-list-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

    }

    .course-list-container {
      padding: 0;
      text-align: -webkit-center;
      padding-bottom: 32px;

    }

    .course-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      gap: 0;
      
    }

    .course-list-title h2 {
      padding-bottom: 16px;

    }

    .course-card img, h5 {
      display: none;

    }

    .course-card {
      background-color: #d8d8d8;
      width: 100%;
      border-radius: 3px;
      margin-bottom: 8px;
      
    }

    .course-card h4 {
      text-align: left;
      padding-bottom: 16px;
      padding-left: 16px;
      font-size: 1.3em;
      
    }

    .course-list-section p {
      display: none;
    }

  }

/* MOBILE SECTION THREE END - START LEARNING SECTION */

/* MOBILE SECTION FOUR START - THESIS EXHIBIT */

  @media only screen and (max-width: 767px) {
  
    #section-four {
    height: auto;

  }

  .thesis-exhibit-title {
    display: none;

  }

  .section-four-text {
    display: none;

  }

  #section-four .article-card-information {
    display: none;

  }

  .section-four-video-box {
    width: 100%;
    height: auto;
    padding: 0;

  }
  
  #video-mobile {
    padding: 0;
    margin: 0;
  }
  
  .thesis-exhibit-section {
    padding: 0;
    margin: 1px;

  }

}
/* MOBILE SECTION FOUR END - THESIS EXHIBIT */



/* MOBILE END */
















/* TABLET */
  @media screen and (min-width: 768px) and (max-width:1023px) {
    
  }
/* TABLET END*/

/* DESKTOP START*/
  @media screen and (min-width:1024px) {
    .menu-images {
      display: none;
    }
    
  }
/* DESKTOP END */

